Your donations to <%= @organization.name %>
<ul>
    <% @organization.donations.each do |donation| %>
    <li>  <%= donation.date %> | <%= donation.amount %> | <%= link_to "See donation details.", user_donation_path(donation.user, donation) %>
</li>
    <%end  %>
</ul>
