<h1>Public Philanthropy</h1>
<h3>Hello, <%= current_user.name %></h3>

<% if user_signed_in? %>
<p>Your Donations</p>
<ul>
  <% current_user.donations.each do |donation| %>
  <li> <%= link_to donation.organization %> - <%= donation.date %> - <%= donation.amount %></li>
  <% end %>
</ul>
<% end  %>
