<h1>Public Philanthropy</h1>

<% if user_signed_in? %>
<h2>Hello <%= current_user.name %></h2>

<p>Your Donations</p>
<ul>
  <% current_user.donations.each do |donation| %>
  <li> <%= link_to donation.organization %> - <%= donation.date %> - <%= donation.amount %></li>
  <% end %>
</ul>

<% end  %>
